# Eclipse
.project

# JDT
.classpath

# Maven
.mvn
buildNumber.properties
dependency-reduced-pom.xml
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/

# Entorno
.env

# Otros
.settings
wallet/

kubeconfig/